@using PracticaEntityFrameWork.Data.Entidades;
@model PracticaEntityFrameWork.Data.Entidades.Empleado;
<partial name="_ValidationScriptsPartial" />
<form asp-controller="Empleados" asp-action="Crear" method="post">
    <label for="Nombre">Nombre:</label>
    <input type="text" id="nombre" name="Nombre" value="@Model.Nombre">
    <span asp-validation-for="Nombre" class="text-danger"></span>

    <label for="Apellido">Apellido:</label>
    <input type="text" id="apellido" name="Apellido" value="@Model.Apellido">
    <span asp-validation-for="Apellido" class="text-danger"></span>

    <label for="departamento">Departamento:</label>
    <select id="departamento" name="IdDepartamento">
        <option selected="selected">Seleccione Departamento</option>
        @foreach (Departamento departamento in ViewBag.Departamentos)
        {
            
            {
                <option value="@departamento.Id">@departamento.Descripcion</option>
            }

        }
    </select>
    <input type="submit" value="Crear">
</form>

